:root {
  color-scheme: light dark;

  --color-bg: #f7f7f7;
  --color-fg: #fff;
  --color-border: #e3e3e3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #121212;
    --color-fg: #121212;
    --color-border: #434343;
  }
}

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: ui-sans-serif, sans-serif;
}

.wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  background: var(--color-fg);
}

.error {
  font-size: 0.875rem;
  padding: 1em;
  background: rgb(255 0 0 / 5%);
  border-bottom: 1px solid red;
  color: red;
  text-align: center;
}

.container {
  display: flex;
  height: 100%;
  flex-direction: row;
}
.container__in,
.container__out {
  width: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container__in {
  border-right: 1px solid var(--color-border);
  background: var(--color-bg);
}

.container__in textarea {
  line-height: 1.4;
  background: transparent;
  border: none;
  font-size: 1rem;
  padding: 2rem;
  width: 100%;
  height: 100%;
}

.container__in textarea:focus {
  outline: none;
}

@media screen and (max-width: 720px) {
  .container__in {
    display: none;
  }
  .container__out {
    width: 100%;
  }
}

.container__out {
}

.container__out iframe {
  border: none;
  width: 100%;
  height: 100%;
}

.toolbar {
  position: sticky;
  top: 0;
  display: flex;
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--color-border);
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.toolbar__left {
  flex-grow: 2;
}
.toolbar input[type="text"] {
  width: 100%;
}
.toolbar__left img {
  width: 18px;
  height: 18px;
  opacity: 0.325;
}

.toolbar__right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

a[aria-label="Reset"] {
  font-size: 1.25rem;
  text-decoration: none;
  color: inherit;
  opacity: 0.5;
  font-weight: 300;
  position: relative;
  top: -0.05rem;
}

a[aria-label="Reset"]:hover {
  opacity: 1;
}
