* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  height: 100%;
  overflow: hidden;
  flex-direction: row;
}
.container__in,
.container__out {
  width: 50%;
  overflow-y: scroll;
}
.container__in {
  line-height: 1.4;
  background: #f7f7f7;
  border: none;
  font-size: 1rem;
  border-right: 1px solid #eee;
  padding: 4rem 2rem 2rem;
}
.container__in:focus {
  outline: none;
}
@media screen and (max-width: 720px) {
  .container__in {
    display: none;
  }
  .container__out {
    width: 100%;
  }
}
.container__out {
  border: none;
  padding-top: 3rem;
}
.container__actions {
  position: absolute;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
  height: 3rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

iframe {
  border: none;
  width: 100%;
  height: 100%;
}

.actions {
  display: flex;
  gap: 0.5rem;
}
